
@import url('fontawesome.min.css');
@import url('all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Roboto&display=swap');
/* 
    Only the required file are used as instruction
*/
:root{
    --primary-color:white;
    --btn-color:#E02C6D;
}
/* style for header and nav */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin:20px 60px;
}
header{
    background-color:var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

header div nav ul{
    list-style: none;
    display: flex;
}
header div nav ul li{
    margin-left: 30px;
}
header div nav ul li a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 1.5rem;
    color: black;
    position: relative;

}
header div nav ul li a::before{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--btn-color);
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}
header div nav ul li a:hover::before{
    width: 100%;
}
header>div>h3{
    font-size: 30px;
    position: relative;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
    cursor: pointer;
}
header >div>h3::before{
    position: absolute;
    content: '';
    width: 52%;
    height: 100%;
    transform: translate(0px, 0);
    background-color: rgba(217, 255, 0, 0.637);
    z-index: -1;
    transition: width .5s;
}
header >div>h3:hover::before{
    width: 100%;
}
/* section 2 */
#sec2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
    
}
.moto h1{
    font-size: 3rem;
    
}
.moto p{
    font-size: 25px;
    text-align: justify;
    padding: 10px 0;
    margin-bottom: 10px;
}
.btn1{
    text-decoration: none;
    color: white;
    background-color: var(--btn-color);
    padding: 10px 45px;
    border-radius: 20px;


}
.btn1 i{
    padding-left: 10px;
}
.btn1:hover{
    background-color: dodgerblue;

}
#sec2 div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec2 div> .himg{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 20px black;
    position: relative;

}
/* sponsers sec */
#sec3{
    margin-top: 50px;
    
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
#sec3>div{
   
    position: relative;
}
#sec3>div>img{
    width: 50%;
    height: 100%;
}